{% extends "admin/change_form.html" %}
{% load static mizdb_watchlist %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'mizdb_watchlist/js/watchlist.js' %}"></script>
  <script src="{% static 'mizdb_watchlist/js/watchlist_init.js' %}"></script>
  <link rel="stylesheet" href="{% static 'mizdb_watchlist/css/watchlist.css' %}">
{% endblock extrahead %}

{% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }} {% toggle_button request original %}</h2>{% endif %}{% endblock %}
