{% extends "base.html" %}
{% load static mizdb_watchlist %}

{% block extrahead %}
    <script src="{% static 'mizdb_watchlist/js/watchlist.js' %}"></script>
{% endblock extrahead %}

{% block content %}
{% csrf_token %}
<h4>Person Changelist</h4>
<ul class="list-group list-group-flush">
{% for person in object_list %}
    <li class="list-group-item list-group-item-action">
        <div class="d-flex justify-content-between">
            <a href="{% url 'demo:app_person_change' pk=person.pk %}">{{ person }}</a>
            {% toggle_button view.request person on_watchlist=person.on_watchlist %}
        </div>
    </li>
{% empty %}
    <li>No Person objects!</li>
{% endfor %}
</ul>
{% endblock content %}